* {
    font-family: 'Nunito', Verdana, sans-serif;
}

body.login {
    background-color: #34889c;
    background: linear-gradient(to right, #34889c, #4678c8);
    height: 100vh;
    overflow: auto;
} 


.bg-login {
    background-image: url('../img/login.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#main-page {
    background-color: #f8f9fc;
}
.callout-primary {
     border-left-width: 6px;
     border-left-color: #428bca;
}
.callout-success {
    border-left-width: 6px;
    border-left-color: #1cc88a;
}
.callout-info {
    border-left-width: 6px;
    border-left-color: #36b9cc;
}

.espacio {
    padding: 3em;
}

.pequeno {
    display: flex !important;
    flex-direction: row !important;
}

.card-img-top {
    display: flex;
    align-self: center;
    width: 18vh;
    padding-top: 1rem;

}

@media (max-height: 10000px) {
    .espacio {
        padding: 8em !important;
    }

   
    .inputForm {
        margin-bottom: 0 !important;
    }
}


@media (max-height: 800px) {
    .espacio {
        padding: 2em !important;
    }

    

    .inputForm {
        margin-bottom: 0 !important;
    }
}

@media (max-height: 600px) {
    .espacio {
        padding: 0em !important;
    }


    .inputForm {
        margin-bottom: 0em !important;
    }
    
    .registrar {
        margin: 0em !important;
        margin-top: 1em !important;
    }
}
